body{
    background-color: #000000;
    color: #FFFFFF;
}

pre{
    color: #0000FF;
}

.caja {
    display: block;
    margin-bottom: 1.5em;
    max-width: 400px;
    position: relative;
}

.ipt-caja {
    background-color: #f5f5f5;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: block;
    font-size: 1em;
    min-height: calc(1.4em + 26px);
    padding: 12px 16px 14px;
    text-align: left;
    width: 100%;
}

.eqt-caja {
    display: block;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0.25em;
}
   
.caja-menu {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 0 0 4px 4px;
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
}
   
.open .caja-menu {
    display: block;
}